/*
Place custom styles here. Thes styles are ment to be loaded after
bootstrap, so the may override it's behavior.
*/

input[type="radio"], 
input[type="checkbox"] {
    margin: 4px 0;
}

[class^="icon-"], 
[class*=" icon-"] {
  margin-top: 2px;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 5px;

  .badge {
    vertical-align: middle;
    margin-left: 2px;
  }
}

h1 { font-size: 30px; line-height: @baseLineHeight*2.75; }
h2 { font-size: 24px; line-height: @baseLineHeight*2; }
h3 { font-size: 18px; line-height: @baseLineHeight*2; }
h4 { font-size: 14px; line-height: @baseLineHeight; }
h5 { font-size: 12px; line-height: @baseLineHeight; }
h6 { font-size: 11px; line-height: @baseLineHeight; }
 
h1 small { font-size: 18px; font-weight: normal; }
h2 small { font-size: 18px; }
h3 small { font-size: 14px; }
h4 small { font-size: 12px; }

.badge {
  padding-left: 7px;
  padding-right: 7px;
}

.badge[data-count="0"] {
  display: none;
}

.alert {
  margin-bottom: 10px;
}

.navbar {
  margin: 0;
  font-weight: 300;

  .container {
    width: 940px;
  }

  ul {
    xpadding: 0;
  }
  
  .nav > li > a {
    color: #d0d0d0;
  }

  .pull-right {
    margin-right: -20px !important;
  }

  .icon a {
    font-size: 20px;
    padding-top: 11px !important;
    padding-bottom: 8px !important;
  }
}

.navbar-inner {
  .border-radius(0);
  position: relative;  /* To get drop shadow on top of other elements */
}

.nav-tabs {
  margin-bottom: 6px;
}

.horizontal-scrollable-tabs {
  margin: 0 -20px -1px;

  li {
    .badge {
      margin-left: 0.25em;
      margin-bottom: -1px;
    }

    a .badge {
      background-color: @linkColor;
    }

    a:hover .badge {
      background-color: @linkColorHover;
    }
  }

  li.active .badge, li.active:hover .badge {
    background-color: #959595;
  }

  .scroller {
    display: none;
    padding: 8px 5px 9px 5px;
    cursor: pointer;
    font-weight: bold;
    color: @linkColor;
    background-color: #ddd;
    .border-top-left-radius(@borderRadiusSmall);
    .border-top-right-radius(@borderRadiusSmall);
    margin-left: 1px;
    margin-right: 1px;
  }

  .horizontal-tabs {
    border-bottom: 1px solid #ddd;
    background: @grayEvenLighter;
    overflow: visible;
    padding-left: 18px;
    padding-right: 18px;

    .nav-tabs-horizontal {
      overflow-x: auto;
      overflow-y: hidden;
      display: -webkit-box;
      display: -moz-box;
      margin-bottom: -1px;
      border: none;
    }

    .nav-tabs-horizontal > li {
      float: none;
      margin-bottom: 0;
    }

    .nav-tabs-horizontal > li.active {
      margin-bottom: -1px;
    }

    .nav-tabs-horizontal::-webkit-scrollbar {
      display: none;
    }
  }

  .scroller.disabled {
    color: @grayEvenLighter;
    background: none;
    cursor: default;
  }
  .arrow-left { float: left; }
  .arrow-left::before  { content: "⟨"; }
  .arrow-right { float: right; }
  .arrow-right::before { content: "⟩"; }
}

/* Closer to the old labels from Bootstrap 1 */
.label {
  line-height: 16px;
  text-transform: uppercase;
  font-size: 9.5px;
  vertical-align: middle;
  margin: -2px 3px auto 3px;
}

header {
  background-color: @grayEvenLighter;
  border-bottom: 1px solid #ddd;
  overflow: visible;

  h1 {
    .pull-left;
    width: 940px;
    margin-bottom: 9px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: @baseLineHeight * 3.5;
  }
  button, .btn {
    margin-top: 23px;
    margin-left: 7px;
  }
}

.content .table-container {
  border: 1px #ddd solid;
  .border-radius(@borderRadiusSmall);
  overflow-x: auto;
  margin-bottom: 18px;
}

.table {
  white-space: nowrap;
  border-collapse: separate;
  margin-bottom: 0;

  td {
    border-color: @borderColor;
  }

  tbody tr:first-child td {
    border-color: #ddd;
  }

  .odd-row {
    background-color: @tableBackgroundAccent !important;
  }
}

.thumbnail {
  .box-shadow(none);
  .transition(none);
  padding: 0;
}

.content > .row > .form-horizontal {
  margin-top: 15px;
}

.well {
  margin-bottom: 8px;
  border: 1px #eee solid;
  .border-radius(0);
  .box-shadow(none);
  background-color: #f5f5f5;
  overflow-x: auto;
}

sub, sup {
  font-size: 60%;
  top: -0.6em;
}

pre, code {
  border: 1px #eee solid;
  .border-radius(0);
  color: @black;
}

code {
  border: none;
}

textarea.span7 {
  max-width: 526px;
}

button.active .icon-eye-open {
  .icon-eye-close
}

.form-horizontal .help-block {
  margin-top: -10px;
}

#deadlines {
  select {
    width: 210px;
  }

  .control-group {
    margin-bottom: 0;

    .help-inline {
      display: none;
    }
  }
}